.section-main {
  padding-bottom: 69px;  
}
.section-main__banner {
  background-image: url(../images/banner/banner-stars.png);
  margin-bottom: 51px;
}
.section-main__text {
  margin-bottom: 25px;
  padding-inline: 65px;
  text-align: justify;
}

.section-info {
  display: flex;
  justify-content: center;
  padding: 140px var(--padding-page);
}
.section-info__cards {
  max-width: 1110px;
  display: flex;
  justify-content:center;
  gap: 30px;
}
.section-info__card {
  border-radius: 10px;
  width: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  padding: 31px 33px 25px 28px;
}
.section-info__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.section-info__title a {
  text-decoration: underline;
  color: var(--text-default);
}
.section-info__text {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}
.section-info__link {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
  max-width: 240px;
  font-weight: 600;
  color: var(--text-white);
  display: block;
  background: var(--gradient);
  padding: 10px 20px 11px;
  margin-top: auto;
}
.section-info__link:hover {
  background: var(--gradient-hover);
}
.section-info__link::after {
  content: url('../images/icons/arrow-right.svg');
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 16px;
}

@media (max-width: 1000px) {
  .section-info__cards {
    flex-direction: column;
  }
  .section-info__card {
    width: 100%;
    padding: 31px 34px 34px 35px;
  }
  .section-info__link {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .section-main {
    padding-block: 27px 50px;
  }
  .section-main__text {
    padding-inline: 0;
  }
}
@media (max-width: 540px) {
  .section-info {
    padding-block: 90px;
  }
  .section-info__link {
    width: initial;
  }
}
